---
# {{autogen_header}}
{% if license and license.strip() -%}
SPDX-License-Identifier: {{license}}
{% endif -%}
---

# {{name}}
{% block extratitle %}{% endblock %}

## Summary

{{summary}}

## Description

{{description}}
{% if metadata.get("example") %}

## Example

{% set _ex = metadata["example"] %}
{% if _ex.startswith("http://") or _ex.startswith("https://") %}
See [example]({{_ex}}).
{% else %}
```json
{{_ex}}
```
{% endif %}
{% endif %}

## Metadata

`{{iri}}`

{% block metadata %}{% endblock %}
{% block extra %}{% endblock %}
