{% extends "page.md.j2" %}

{% block metadata %}
| | |
| - | - |
| **Name** | {{metadata["name"]}} |
| **Nature** | {{metadata["nature"]}} |
| **Range** | {{type_link(metadata["range"])}} |
{% endblock %}

{% block extra %}
{% if used_in %}

## Referenced

{% for name in used_in | sort %}
- {{type_link(name)}}
{% endfor %}
{% endif %}
{% endblock %}
