{% extends "page.md.j2" %}

{% block metadata %}
| | |
| - | - |
| **Name** | {{metadata["name"]}} |
| **Type** | {{metadata["type"]}} |
| **IRI** | `{{metadata["iri"]}}` |
{% endblock %}

{% block extra %}{% endblock %}
